{% extends "classifier.html" %}
{% block title %}Results{% endblock %}
{% block message %}
<hr />
{% if query!="" %}
<h1 class="text-center">MESSAGE</h1>
<p class="text-center"><i>{{query}}</i></p>
{% endif %}
{% endblock %}

{% block content %}
{% if query!="" %}
<!-- Add Badge with number of detected categories -->
<h1 class="text-center">RESULT
    <span style="font-size: small;background-color: gold;
    margin-bottom: 1.5em;top: -1em;
    padding-left: 0.5em;padding-right: 0.5em;
    position: relative; display:inline-block">
        {{classification_result.values()|sum}}
    </span>
</h1>
{% else %}
<h1 class="text-center">RESULT </h1>
{% endif %}

<ul class="list-group">
    {% for category, classification in classification_result.items() %}

    {% if category == "null" %}
    <li class="list-group-item list-group-item-danger text-center">
        {{category.replace('_', ' ').title()}}</li>
    {% else %}
    {% if classification == 1 %}
    <li class="list-group-item text-center" style="background-color: rgb(158,202,225);">
        {{category.replace('_', ' ').title()}}</li>
    {% else %}
    <li class="list-group-item text-center">{{category.replace('_', ' ').title()}}</li>
    {% endif %}

    {% endif %}
    {% endfor %}

    {% endblock %}